In [16]:
import numpy as np
import pandas as pd

In [17]:
ilkIndexler=["Regular Show" , "Regular Show","Regular Show","Adventure Time","Adventure Time","Adventure Time"]
icIndexler =["Mordecai" ,"Rigby" ,"Benson","Finn","Jake","BMO"]

## Birleşmiş Indexler

In [18]:
birlesim = list(zip(ilkIndexler,icIndexler))
birlesim = pd.MultiIndex.from_tuples(birlesim)

In [19]:
cizgiFilm = [[19,"Park Calisani"],[16,"Park Calisani"],[30,"Park Muduru"],[18,"Savasci"],[18,"Yardimci"],[0,"Robot"]]
cizgiFilmNumpy = np.array(cizgiFilm)

In [20]:
cizgiFilmDataFrame = pd.DataFrame(cizgiFilmNumpy , index = birlesim ,columns=["Yas","Meslek"])
cizgiFilmDataFrame

                        Yas         Meslek
Regular Show   Mordecai  19  Park Calisani
               Rigby     16  Park Calisani
               Benson    30    Park Muduru
Adventure Time Finn      18        Savasci
               Jake      18       Yardimci
               BMO        0          Robot

In [24]:
cizgiFilmDataFrame.loc["Regular Show"]

         Yas         Meslek
Mordecai  19  Park Calisani
Rigby     16  Park Calisani
Benson    30    Park Muduru

In [25]:
cizgiFilmDataFrame.loc["Regular Show"].loc["Rigby"]

Yas                  16
Meslek    Park Calisani
Name: Rigby, dtype: object

In [28]:
cizgiFilmDataFrame.index.names = ["Cizgi Film","Isim"]
cizgiFilmDataFrame

                        Yas         Meslek
Cizgi Film     Isim
Regular Show   Mordecai  19  Park Calisani
               Rigby     16  Park Calisani
               Benson    30    Park Muduru
Adventure Time Finn      18        Savasci
               Jake      18       Yardimci
               BMO        0          Robot