## Eksik Veri

In [1]:
import pandas as pd
import numpy as np

In [4]:
hava = {"Istanbul":[10,8,np.nan] , "Ankara":[3,np.nan,-1],"Izmir":[12,15,13]}
havaDataFrame = pd.DataFrame(hava)
havaDataFrame

   Istanbul  Ankara  Izmir
0      10.0     3.0     12
1       8.0     NaN     15
2       NaN    -1.0     13

## NULL olan satırları çıkar

In [7]:
havaDataFrame.dropna(axis =0)

   Istanbul  Ankara  Izmir
0      10.0     3.0     12

In [9]:
yeniHava = {"Istanbul":[30,32,np.nan] , "Ankara":[27,np.nan,28],"Izmir":[40,38,37],"Antalya":[42,np.nan,np.nan]}
yeniHavaDataFrame = pd.DataFrame(yeniHava)
yeniHavaDataFrame

   Istanbul  Ankara  Izmir  Antalya
0      30.0    27.0     40     42.0
1      32.0     NaN     38      NaN
2       NaN    28.0     37      NaN

In [12]:
yeniHavaDataFrame.dropna(axis=1,thresh=2) #2 den fazla nan varsa tablodan cikarır

   Istanbul  Ankara  Izmir
0      30.0    27.0     40
1      32.0     NaN     38
2       NaN    28.0     37

## NAN olan yerleri doldurma

In [13]:
yeniHavaDataFrame.fillna(25)

   Istanbul  Ankara  Izmir  Antalya
0      30.0    27.0     40     42.0
1      32.0    25.0     38     25.0
2      25.0    28.0     37     25.0