In [9]:
import pandas as pd
import numpy as np

In [16]:
sozluk1 = { "isim":["zeynep","burak"] ,
           "spor" : ["basketbol" ,"Futbol"] ,
           "kalori" :[200,50]
}
dataF1=pd.DataFrame(sozluk1,index=[1,2])
dataF1

     isim       spor  kalori
1  zeynep  basketbol     200
2   burak     Futbol      50

In [17]:
sozluk2 = { "isim":["fatma","halim"] ,
           "spor" : ["Yuzme" ,"Futbol"] ,
           "kalori" :[300,150]
}
dataF2=pd.DataFrame(sozluk2 , index=[3,4])
dataF2

    isim    spor  kalori
3  fatma   Yuzme     300
4  halim  Futbol     150

In [18]:
sozluk3 = { "isim":["mehmet","ayse"] ,
           "spor" : ["Yuzme" ,"Futbol"] ,
           "kalori" :[500,30]
}
dataF3=pd.DataFrame(sozluk3,index=[5,6])
dataF3

     isim    spor  kalori
5  mehmet   Yuzme     500
6    ayse  Futbol      30

## Concatenation

In [19]:
pd.concat([dataF1,dataF2,dataF3])

     isim       spor  kalori
1  zeynep  basketbol     200
2   burak     Futbol      50
3   fatma      Yuzme     300
4   halim     Futbol     150
5  mehmet      Yuzme     500
6    ayse     Futbol      30