In [12]:
import numpy as np
import pandas as pd

In [19]:
sozluk1 = { "isim": ["Burak","yunus","hasan"] , 
           "spor":["futbol","basketbol","voleybol"]
}
dataF1 = pd.DataFrame(sozluk1)
dataF1

    isim       spor
0  Burak     futbol
1  yunus  basketbol
2  hasan   voleybol

In [20]:
sozluk2 = { "isim": ["Burak","yunus","hasan"] , 
           "kalori":[100,200,300]
}
dataF2 = pd.DataFrame(sozluk2)
dataF2

    isim  kalori
0  Burak     100
1  yunus     200
2  hasan     300

In [21]:
pd.merge(dataF1,dataF2,on="isim")

    isim       spor  kalori
0  Burak     futbol     100
1  yunus  basketbol     200
2  hasan   voleybol     300