In [23]:
import pandas as pd
import numpy as np

In [24]:
maas = {"isim" :["Burak","Ahmet","Mehmet"],
       "departman" : ["Yazilim","Yazilim","Hukuk"],
        "maas" : [15,25,45]        
       }
dataF =pd.DataFrame(maas)
dataF

     isim departman  maas
0   Burak   Yazilim    15
1   Ahmet   Yazilim    25
2  Mehmet     Hukuk    45

In [25]:
dataF["departman"].unique() #farklı olan departanları gösterir

array(['Yazilim', 'Hukuk'], dtype=object)

In [26]:
dataF["departman"].nunique()#yukardakinin sayısı

2

In [27]:
dataF["departman"].value_counts()

departman
Yazilim    2
Hukuk      1
Name: count, dtype: int64

In [28]:
def bruttenNete(maas):
    return maas*0.66

In [29]:
dataF["maas"].apply(bruttenNete)

0     9.9
1    16.5
2    29.7
Name: maas, dtype: float64